torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
opencv-python==4.10.0.84
diffusers>=0.36.0
transformers==4.57.3
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio[ffmpeg]
easydict
ftfy
imageio-ffmpeg
numpy==2.2.6
scipy
einops
pandas

tensorboard
trimesh
safetensors==0.7.0